/* VENTANA HOME */
.total-cont{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
}

.contHomeOn{
    width: 100%;
    max-width: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

div > .contHomeOff{
    display: none;

}


.titulosHome{
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    padding: 5%;
}

.iconosTit{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contBoxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cupidoMusical{
    display: flex;
    width: 90%;
    height: 5rem;
    color: black;
    background-color: white;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 0px black;
    font-size: 17px;
}

.fotoBox{
    border-bottom-left-radius: 20px;
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    gap: 5%;
}

.tituloBox{
    font-weight: 600;
}

.textBox > p{
    margin: 0px;
    font-size: 14px;
}

/* VENTANA SEARCHER */

.contSearcherOn{
    width: 100%;
    max-width: 414px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: space-between;
}

.contSearcherOff{
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

.mainSearcher{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosSearcher{
    margin-top: 30px;
    width: 90%;
    display: flex;
    font-weight: 600;
    font-size: 22px;
    padding: 5%;
}

.formSearcher{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 2.5rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #BFC0C1;
}

.searchingImg{
    width: 24px;
    margin-left: 10px;
}

.searcherInput{
    background-color: transparent;
    width: 75%;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: black;
    border: none;
    outline: none;
}

.searcherInput::placeholder{
    color: #BFC0C1;
}

.contTop{
    width: 100%;
    margin: 7% 0% 7% 0%;    
    display: flex;
    align-items: center;
}

.topVeinteText{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 5%;
    font-size: 15px;
}

.hrStyle{
    width: 70%;
    margin-left: 5%;
    background-color: #BFC0C1;
}

/* CARDS */

.contCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
    overflow: scroll;
}

.card{
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSingle{
    margin: 10px 0px 0px 0px;
    font-size: 13px;
    font-weight: 600;
}

.artistSingle{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
    color: #BFC0C1;
}

.imgCard{
    width: 100%;
}

/* VENTANA PERFIL */

.contUserOn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.contUserOff{
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

/* VENTANA User Info*/

.contUser__general{
    max-width: 414px;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contUser > div{
    display: flex;
    flex-direction: column;
}

.contUser__top{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.userSettings{
    background-color: #fdfeff48;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    position: absolute;
    right: -3rem;
    top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userSettings > img{
    position: relative;
    height: 24px;
    width: 24px;

}

.userAvatar {
    border-radius: 100%;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 20px #0808115b;
}

.userAvatar img{
    width: 80%;
}

.contUser__top > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contPlaylist__title{
    display: flex;
    width: 320px;
    justify-content: space-between;
    margin-top: 30px;
}

.contPlaylist__title > span{
    font-weight: 600;
    font-size: 15px;
    align-self: center;
}

.contPlaylist__title > hr{
    height: 2px;
    color: #E4E6E8;
    width: 87px;
    border: 2px;
    margin-right: 0;
}

.contPlaylist-button{
    width: 100px;
    height: 26px;
    font-size: 12px;
    align-self: center;
}

.contPlaylist__bottom{
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.contPlaylist__playlist{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.contPlaylist__image-div{
    width: 100%;
    height: auto;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    overflow: hidden;
}

.contPlaylist__image-div > img{
    object-fit: cover;
}

.imageSt{
    width: 160px;
    height: 160px;
}

.contPlaylist__playlist > div > h4 {
    font-size: 12px;
    font-weight: 500;
    color: #26262E;
    margin: 0;
    

}

.contPlaylist__playlist > div > span {
    font-size: 12px;
    font-weight: 400;
    color: #838486;

}


/* Configuracion de usuario*/

.contUserOn{
    max-width: 414px;
    width: 100%;
    overflow: hidden;
}

.config__main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 414px;
    overflow: hidden;
}

.config__top{
    display: flex;
    flex-direction: column;
    
}

.config__buttom-back{
    background-color: transparent;
    border: none;
}

.config__buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.config__button-first{
    margin-top: 2rem;
}

.config__button-second{
    background-color: #26262E;
}

.config__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 500;
}

.config__bottom > hr{
    width: 320px;
    height: 2px;
    color: #E4E6E8;
    border: 1px solid #bebfc0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.config__logout{
    cursor: pointer;
}

.config__logout:hover{
    color: #838486;
}


.list-item__info{
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #838486;
}

.resultSearcher{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    max-width: 414px;
    position: absolute;
    top: 0px;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a0a 100%);
    z-index: 200;
}

.formSearcherOn{
    border: 2px solid #FF8E0A;
}

.contBusReciente{
    width: 100%;
    margin: 7% 0% 7% 0%;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contTopBR{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.busReciente{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0% 0% 0% 5%;
    font-size: 15px;
}

.hrStyleOn{
    width: 40%;
    margin-left: 5%;
    background-color: #BFC0C1;
}

.recienteLista{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
    gap: 8px;
}

.contBusquedaFinal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contFiltrosBusqueda{
    display: flex;
    gap: 8px;
    width: 90%;
    overflow: scroll;
    margin: 20px 0px;
}

.contFiltrosBusqueda::-webkit-scrollbar {
    display: none;
  }

.contResult{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    overflow: scroll;
    gap: 4px;
}

.contResult div:first-child{
    margin-bottom: 10px;
}

.cruzBusqueda{
    width: 5%;
}