/* VENTANA HOME */

.contHomeOn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

.contHomeOff{
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}


.titulosHome{
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    padding: 5%;
}

.iconosTit{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contBoxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cupidoMusical{
    display: flex;
    width: 90%;
    height: 5rem;
    color: black;
    background-color: white;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 0px black;
    font-size: 17px;
}

.fotoBox{
    border-bottom-left-radius: 20px;
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    gap: 5%;
}

.tituloBox{
    font-weight: 600;
}

.textBox > p{
    margin: 0px;
    font-size: 14px;
}

/* VENTANA SEARCHER */

.contSearcherOn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

.contSearcherOff{
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

.mainSearcher{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosSearcher{
    margin-top: 30px;
    width: 90%;
    display: flex;
    font-weight: 600;
    font-size: 22px;
    padding: 5%;
}

.formSearcher{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 2.5rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #BFC0C1;
}

.searchingImg{
    width: 24px;
    margin-left: 10px;
}

.searcherInput{
    background-color: transparent;
    width: 80%;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: black;
    border: none;
    outline: none;
}

.searcherInput::placeholder{
    color: #BFC0C1;
}

.contTop{
    width: 100%;
    margin: 7% 0% 7% 0%;    
    display: flex;
}

.topVeinteText{
    font-weight: 600;
    margin-left: 5%;
    font-size: 15px;
}

.hrStyle{
    width: 70%;
    margin-right: 5%;
    background-color: #BFC0C1;
}

/* CARDS */

.contCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
    overflow: scroll;
}

.card{
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSingle{
    margin: 10px 0px 0px 0px;
    font-size: 13px;
    font-weight: 600;
}

.artistSingle{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
    color: #BFC0C1;
}

.imgCard{
    width: 100%;
}

/* VENTANA PERFIL */

.contUserOn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

.contUserOff{
    display: none;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(236, 238, 239, 0.976) 90%, #ff8d0a28 100%);
    height: 100vh;
    justify-content: space-between;
}

/* VENTANA User Info*/

.contUser > div{
    display: flex;
    flex-direction: column;
}

.contUser__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.contUser__top > div{
    background-color: #fdfeff48;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 0;
    top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contUser__top > div > img{
    position: relative;
    height: 24px;
    width: 24px;

}

.contUser__top > img {
    border-radius: 100%;
    width: 152px;
    box-shadow: 0 0px 20px #0808115b;
}

.contUser__top > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contPlaylist__title{
    display: flex;
    width: 320px;
    justify-content: space-between;
    margin-top: 30px;
}

.contPlaylist__title > span{
    font-weight: 600;
    font-size: 15px;
    align-self: center;
}

.contPlaylist__title > hr{
    height: 2px;
    color: #E4E6E8;
    width: 87px;
    border: 2px;
    margin-right: 0;
}

.contPlaylist-button{
    width: 100px;
    height: 26px;
    font-size: 12px;
    align-self: center;
}

.contPlaylist__bottom{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contPlaylist__playlist{
    width: 152px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.contPlaylist__image-div{
    width: 100%;
    height: auto;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    overflow: hidden;
}

.contPlaylist__image-div > img{
    object-fit: cover;
}

.contPlaylist__playlist > div > h4 {
    font-size: 12px;
    font-weight: 500;
    color: #26262E;
    margin: 0;
    

}

.contPlaylist__playlist > div > span {
    font-size: 12px;
    font-weight: 400;
    color: #838486;

}



