.contextual__main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 2rem;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.976) 90%, #ff8d0a40 100%); 
}

.contextual__main-div > div{
    max-width: 350px;
}

.contextual__top{
    margin-top: 30px;
    padding-right: 24px;
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: space-between;

}

.contextual__main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contextual__title{
    font-weight: 500;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 20px;
}

.contextual__nav-div{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    max-width: 340px;
    height: 48px;
    padding-left:16px;
    padding-right: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #fdfeff;
    margin-top: 12px;
}



.contextual__nav-div button{
    background-color: transparent;
    border: none;
}

.contextual__nav-text{
    color: #BFC0C1;
    font-weight: 400;
    font-size: 18px;
}

.contextual__nav-text.selected{
    color: #26262E;
    font-weight: 500;
}

.contextual__dropdown1{
    text-align: center;
    margin-top: 12px;
    position: relative;
    z-index: 10;
}

.contextual__dropdown2{
    text-align: center;
    margin-top: 12px;
    position: relative;
    z-index: 8;
}

.contextual__dropdown3{
    text-align: center;
    margin-top: 12px;
    position: relative;
    z-index: 6;
}

.contextual__main-content > div > ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 2px solid #26262E;
    top:72px;
    padding: 0;
    margin: 0px;
    padding-top: 20px;
    overflow: hidden;
    background-color: white;
    z-index: -1;
    
    
}



.contextual__main-content  .hidden{
    padding-top: 0px;
    overflow: hidden;
    height: 0;
    animation: closing 0.5s ease
}

.contextual__main-content .onview{
    
    animation: onView1 0.5s ease
}

.contextual__main-content > .contextual__second-drop {
    top:270px;
}

.contextual__main-content > .contextual__second-drop > .hidden{
    padding-top: 0px;
    overflow: hidden;
    height: 0;
    animation: closing2 0.5s ease
}

.contextual__main-content > .contextual__second-drop > .onview{
    height: 320px;
    animation: onView2 0.5s ease
}

.contextual__main-content > .contextual__third-drop {
    top:390px;
}



@keyframes onView1{
    from { height: 0}
    to {height: 450px}
}

@keyframes closing1{
    from { height: 450px}
    to {height: 0}
}




.contextual__main-content ul li{
    width: 100%;
    font-weight: 500;
    list-style: none;
    height: 48px;
    padding: 0px 16px 0px 16px;
    border-bottom: 2px solid #26262E;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.contextual__main-content ul li:hover{
    background-color: #FF8E0A;
    color: #ffffff;
    cursor: pointer;
}


.contextual__main-content .last-list-item{
    border-bottom: 0px solid transparent
}

/* Seleccion de géneros*/

.contextual__gender-div{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
}

.contextual__gender{
    border: 2px solid black;
    padding: 6px 8px 6px 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contextual__title2{
    font-weight: 500;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 16px;
}

