.register__main-div{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.976) 90%, #ff8d0a40 100%);    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

.register__top{
    margin-left: 1.5rem;
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register__container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.register__title{
    font-weight: 500;
    font-size: 19px;
}

.register_arrow-back-button{
    background-color: transparent;
    border: none;
    padding: 0px;
}



.register-content{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin-top: 2.5rem;
    max-width: 390px;
}

.register__question{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.register__form{
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}

.register__input-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.register__input-label{
    font-weight: 500;
    font-size: 23px;
}

.register__input{
    font-family: 'Rubik', sans-serif;
    padding-left: 1rem;
    height: 2.5rem;
    color: black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #E4E6E8;
    font-size: 18px;
    margin-top: 1rem;
}

.register__input.failed{
    border: 2px solid #EA0F0F;
}

.register__input.acepted{
    border: 2px solid #03A400;
}

.imput-password{
    width: 100%;
}


.register__input-span{
    font-weight: 500;
    margin-top: 1rem;
    font-size: 13px;
    color:#949699;

}

.register__input-span.failed{
    color:#EA0F0F;

}

.register__input-span.acepted{
    color:#03A400;

}

.register__second-input{
    position: relative;
    margin-top: 10%;
}

.register__password-div{
    width: 100%;
    position: relative;
}

.register__input.imput-password{
    width: 93%;
}

.register__input-eye{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    
}

.register__confirm-terms-div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 12px;
}

.checkbox{
    width: 1.3rem;
    height: 1.3rem;
    border: 3px solid #949699;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.checkbox__checked-img{
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    position: relative;
    top: -5px;
    left: 3px;
}

.register__confirm-terms-text{
    margin-left: 0.7rem;
}

.register__confirm-terms-link{
    text-decoration: none;
    color: #FF8E0A;
    font-weight: 500;
}

.d-none{
    display:none
}


